/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {font-family: 'Roboto', sans-serif;}
.f1 {padding: 0 15px;}
.nav-tabs {padding: 10px 15px;}
.nav-tabs > li > a {padding: 0; margin: 0;}



/*Edit Profile*/
form#edit_user {
  color: #303a3c;
  margin-top: 30px;
  width: 500px;
}

form#edit_user .field {
  background-color: #fbfbfb;
  border-radius: 3px;
  margin-bottom: 9px;
  padding: 15px 20px 15px;
}

form#edit_user .field label {margin-bottom: 2px;}
.user_edit h3 {background-color: #fff;}
